USE [master]
GO
/****** Object:  Database [dbatiss]    Script Date: 26/11/1395 11:27:22 ق.ظ ******/
CREATE DATABASE [dbatiss]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbatiss', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbatiss.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbatiss_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbatiss_log.ldf' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbatiss].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbatiss]
GO
/****** Object:  Table [dbo].[banner]    Script Date: 26/11/1395 11:27:24 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[banner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[banner_type_id] [int] NOT NULL,
	[first_media_id] [int] NULL,
	[first_link] [varchar](1000) NULL,
	[second_media_id] [int] NULL,
	[second_link] [varchar](1000) NULL,
	[third_media_id] [int] NULL,
	[third_link] [varchar](1000) NULL,
	[page_id] [int] NOT NULL,
	[view_order] [int] NOT NULL CONSTRAINT [DF_banner_view_order]  DEFAULT ((0)),
	[enabled] [bit] NOT NULL CONSTRAINT [DF_banner_enabled]  DEFAULT ((1)),
 CONSTRAINT [PK_module] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[collection]    Script Date: 26/11/1395 11:27:25 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[collection](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_fa] [nvarchar](50) NOT NULL,
	[name_en] [nvarchar](50) NOT NULL,
	[header_media_id] [int] NOT NULL,
	[cover_media_id] [int] NOT NULL,
	[text_fa] [nvarchar](max) NOT NULL,
	[text_en] [nvarchar](max) NOT NULL,
	[idate] [datetime] NOT NULL CONSTRAINT [DF_collection_idate]  DEFAULT (getdate()),
 CONSTRAINT [PK_collection] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[collection_products]    Script Date: 26/11/1395 11:27:25 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[collection_products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[collection_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
 CONSTRAINT [PK_collection_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[file]    Script Date: 26/11/1395 11:27:25 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[file](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [varchar](500) NOT NULL,
	[cover] [varchar](500) NOT NULL,
	[content_type] [varchar](50) NOT NULL,
	[length] [bigint] NOT NULL CONSTRAINT [DF_module_file_length]  DEFAULT ((0)),
	[upload_date] [datetime] NOT NULL CONSTRAINT [DF_module_file_upload_date]  DEFAULT (getdate()),
 CONSTRAINT [PK_module_file] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[label]    Script Date: 26/11/1395 11:27:25 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[label](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[keycode] [varchar](50) NOT NULL,
	[name_fa] [nvarchar](50) NOT NULL,
	[name_en] [nvarchar](50) NOT NULL,
	[view_order] [int] NOT NULL,
	[master_keycode] [varchar](50) NULL,
	[page_id] [int] NULL,
 CONSTRAINT [PK_label] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[media]    Script Date: 26/11/1395 11:27:25 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[media](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[in_date] [datetime] NOT NULL CONSTRAINT [DF_media_idate]  DEFAULT (getdate()),
	[user_id] [int] NULL,
 CONSTRAINT [PK_module_media] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[media_files]    Script Date: 26/11/1395 11:27:25 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[media_files](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[media_id] [int] NOT NULL,
	[file_id] [int] NOT NULL,
	[text_fa] [nvarchar](max) NULL,
	[text_en] [nvarchar](max) NULL,
	[text_position] [int] NOT NULL CONSTRAINT [DF_module_media_files_text_position]  DEFAULT ((0)),
	[text_width] [int] NOT NULL CONSTRAINT [DF_module_media_files_text_width]  DEFAULT ((50)),
	[view_order] [int] NOT NULL CONSTRAINT [DF_module_media_files_view_order]  DEFAULT ((1)),
	[back_color] [varchar](50) NULL,
	[href_link] [varchar](1000) NULL,
 CONSTRAINT [PK_module_media_files] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[menu]    Script Date: 26/11/1395 11:27:25 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title_fa] [nvarchar](100) NOT NULL,
	[title_en] [nvarchar](100) NOT NULL,
	[subtitle_fa] [nvarchar](200) NULL,
	[subtitle_en] [nvarchar](200) NULL,
	[address] [varchar](1000) NOT NULL,
	[menu_type] [int] NOT NULL CONSTRAINT [DF_menu_menu_type]  DEFAULT ((1)),
	[view_order] [int] NOT NULL CONSTRAINT [DF_menu_view_order]  DEFAULT ((0)),
	[col_no] [int] NOT NULL CONSTRAINT [DF_menu_col_no]  DEFAULT ((1)),
	[media_id] [int] NULL,
	[enabled] [bit] NOT NULL CONSTRAINT [DF_menu_enabled]  DEFAULT ((1)),
	[parent_id] [int] NULL,
 CONSTRAINT [PK_menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[page]    Script Date: 26/11/1395 11:27:25 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[page](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[keycode] [varchar](50) NULL,
 CONSTRAINT [PK_page] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product]    Script Date: 26/11/1395 11:27:25 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name_fa] [nvarchar](50) NOT NULL,
	[name_en] [nvarchar](50) NOT NULL,
	[count] [int] NOT NULL,
	[price] [int] NOT NULL,
	[text_fa] [nvarchar](4000) NULL,
	[text_en] [nvarchar](4000) NULL,
	[idate] [datetime] NOT NULL CONSTRAINT [DF_product_idate]  DEFAULT (getdate()),
	[cover_media_id] [int] NOT NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product_labels]    Script Date: 26/11/1395 11:27:25 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_labels](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[label_id] [int] NOT NULL,
 CONSTRAINT [PK_product_label_values] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[product_medias]    Script Date: 26/11/1395 11:27:25 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_medias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[media_id] [int] NOT NULL,
	[view_order] [int] NOT NULL CONSTRAINT [DF_product_medias_view_order]  DEFAULT ((0)),
 CONSTRAINT [PK_product_medias] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[purchase]    Script Date: 26/11/1395 11:27:25 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[purchase](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[customer_name] [nvarchar](50) NOT NULL,
	[customer_phone] [varchar](50) NOT NULL,
	[customer_email] [varchar](100) NULL,
	[customer_address] [nvarchar](500) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[idate] [datetime] NOT NULL CONSTRAINT [DF_purchase_idate]  DEFAULT (getdate()),
 CONSTRAINT [PK_purchase] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[banner] ON 

INSERT [dbo].[banner] ([id], [banner_type_id], [first_media_id], [first_link], [second_media_id], [second_link], [third_media_id], [third_link], [page_id], [view_order], [enabled]) VALUES (2, 23, 1013, NULL, 2022, NULL, NULL, NULL, 1, 1, 1)
INSERT [dbo].[banner] ([id], [banner_type_id], [first_media_id], [first_link], [second_media_id], [second_link], [third_media_id], [third_link], [page_id], [view_order], [enabled]) VALUES (4, 11, 2019, N'home/', 1014, NULL, NULL, NULL, 2, 0, 1)
INSERT [dbo].[banner] ([id], [banner_type_id], [first_media_id], [first_link], [second_media_id], [second_link], [third_media_id], [third_link], [page_id], [view_order], [enabled]) VALUES (5, 11, 3021, NULL, NULL, NULL, NULL, NULL, 3, 0, 1)
SET IDENTITY_INSERT [dbo].[banner] OFF
SET IDENTITY_INSERT [dbo].[collection] ON 

INSERT [dbo].[collection] ([id], [name_fa], [name_en], [header_media_id], [cover_media_id], [text_fa], [text_en], [idate]) VALUES (1, N'ماهی سیاه کوچولو', N'Little Black Fish', 1016, 1018, N'<p>ماهی سیاه کوچولو</p>', N'<p>Little Black Fish</p>', CAST(N'2016-12-31 14:20:20.433' AS DateTime))
INSERT [dbo].[collection] ([id], [name_fa], [name_en], [header_media_id], [cover_media_id], [text_fa], [text_en], [idate]) VALUES (2, N'sdfgsd ', N'sdfgsdf ', 1017, 1017, N'<p>dgsdf gsdfg sdfg</p>
<p>sd fgsd</p>', N'<p>sdfg sdfgsdfg</p>
<p>sd fgsdf</p>
<p>&nbsp;</p>', CAST(N'2017-01-01 01:36:34.450' AS DateTime))
INSERT [dbo].[collection] ([id], [name_fa], [name_en], [header_media_id], [cover_media_id], [text_fa], [text_en], [idate]) VALUES (4, N'حلقه', N'حلقه', 1017, 1017, N'<p>حلقه</p>', N'<p>حلقه</p>', CAST(N'2017-01-01 03:13:05.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[collection] OFF
SET IDENTITY_INSERT [dbo].[file] ON 

INSERT [dbo].[file] ([id], [address], [cover], [content_type], [length], [upload_date]) VALUES (1161, N'/media/TSquareWire_1240x740.mp4', N'/media/cover/TSquareWire_1240x740.jpg', N'video/mp4', 2088907, CAST(N'2016-12-28 01:37:29.950' AS DateTime))
INSERT [dbo].[file] ([id], [address], [cover], [content_type], [length], [upload_date]) VALUES (1162, N'/media/yellowdiamond_1240x740.mp4', N'/media/cover/yellowdiamond_1240x740.jpg', N'video/mp4', 2543863, CAST(N'2016-12-28 01:41:52.953' AS DateTime))
INSERT [dbo].[file] ([id], [address], [cover], [content_type], [length], [upload_date]) VALUES (1163, N'/media/BlueBox_490x490.mp4', N'/media/cover/BlueBox_490x490.jpg', N'video/mp4', 3049885, CAST(N'2016-12-28 01:59:53.470' AS DateTime))
SET IDENTITY_INSERT [dbo].[file] OFF
SET IDENTITY_INSERT [dbo].[label] ON 

INSERT [dbo].[label] ([id], [keycode], [name_fa], [name_en], [view_order], [master_keycode], [page_id]) VALUES (1, N'collection', N'کلکسیون', N'Collection', 0, NULL, NULL)
INSERT [dbo].[label] ([id], [keycode], [name_fa], [name_en], [view_order], [master_keycode], [page_id]) VALUES (4, N'material', N'جنس', N'Material', 2, NULL, NULL)
INSERT [dbo].[label] ([id], [keycode], [name_fa], [name_en], [view_order], [master_keycode], [page_id]) VALUES (5, N'category', N'دسته بندی', N'Category', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[label] OFF
SET IDENTITY_INSERT [dbo].[media] ON 

INSERT [dbo].[media] ([id], [in_date], [user_id]) VALUES (1009, CAST(N'2016-12-31 04:06:21.193' AS DateTime), 1)
INSERT [dbo].[media] ([id], [in_date], [user_id]) VALUES (1012, CAST(N'2016-12-31 05:02:18.163' AS DateTime), 1)
INSERT [dbo].[media] ([id], [in_date], [user_id]) VALUES (1013, CAST(N'2016-12-31 05:04:52.217' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[media] OFF
SET IDENTITY_INSERT [dbo].[media_files] ON 

INSERT [dbo].[media_files] ([id], [media_id], [file_id], [text_fa], [text_en], [text_position], [text_width], [view_order], [back_color], [href_link]) VALUES (204, 1009, 1161, N'', N'', 0, 40, 0, N'#F4F4F4', NULL)
INSERT [dbo].[media_files] ([id], [media_id], [file_id], [text_fa], [text_en], [text_position], [text_width], [view_order], [back_color], [href_link]) VALUES (237, 1016, 1164, N'', N'', 0, 40, 0, N'#F4F4F4', NULL)
SET IDENTITY_INSERT [dbo].[media_files] OFF
SET IDENTITY_INSERT [dbo].[menu] ON 

INSERT [dbo].[menu] ([id], [title_fa], [title_en], [subtitle_fa], [subtitle_en], [address], [menu_type], [view_order], [col_no], [media_id], [enabled], [parent_id]) VALUES (1, N'فر گالری', N'Far Gallery', N'بهترین گالری دنیا بهترین گالری دنیا بهترین گالری دنیا بهترین گالری دنیا بهترین گالری دنیا بهترین گالری دنیا بهترین گالری دنیا بهترین گالری دنیا بهترین گالری دنیا بهترین گالری ', N'The best gallery in the world', N'home/', 1, 0, 1, 4018, 1, NULL)
INSERT [dbo].[menu] ([id], [title_fa], [title_en], [subtitle_fa], [subtitle_en], [address], [menu_type], [view_order], [col_no], [media_id], [enabled], [parent_id]) VALUES (2, N'مجموعه ها', N'Collections', N'', N'', N'collections/', 1, 1, 1, 2019, 1, NULL)
INSERT [dbo].[menu] ([id], [title_fa], [title_en], [subtitle_fa], [subtitle_en], [address], [menu_type], [view_order], [col_no], [media_id], [enabled], [parent_id]) VALUES (4, N'مجموعه پاییزان', N'Paeizan Collection', N'', N'', N'products/collection/paeizan', 1, 0, 1, NULL, 1, 2)
SET IDENTITY_INSERT [dbo].[menu] OFF
SET IDENTITY_INSERT [dbo].[page] ON 

INSERT [dbo].[page] ([id], [keycode]) VALUES (1, NULL)
INSERT [dbo].[page] ([id], [keycode]) VALUES (2, NULL)
INSERT [dbo].[page] ([id], [keycode]) VALUES (3, NULL)
SET IDENTITY_INSERT [dbo].[page] OFF
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [code], [name_fa], [name_en], [count], [price], [text_fa], [text_en], [idate], [cover_media_id]) VALUES (2, N'0', N'نام محصول', N'Product Name', 0, 630000, N'<p>محصول 2</p>', N'<p>محصول 2</p>', CAST(N'2017-01-01 04:40:35.580' AS DateTime), 1018)
INSERT [dbo].[product] ([id], [code], [name_fa], [name_en], [count], [price], [text_fa], [text_en], [idate], [cover_media_id]) VALUES (4, N'0', N'نام محصول', N'Product Name', 211, 2342242, N'<p>2342</p>', N'<p>234</p>', CAST(N'2017-01-01 04:58:54.577' AS DateTime), 1016)
INSERT [dbo].[product] ([id], [code], [name_fa], [name_en], [count], [price], [text_fa], [text_en], [idate], [cover_media_id]) VALUES (2003, N'M15', N'نام محصول', N'Product Name', 34, 3, N'<p>سیوئبسوییبشسی</p>
<p>بش سیب</p>
<p>شسی ب</p>
<p>شس یب</p>
<p>&nbsp;شسی</p>
<p>ب شسی</p>
<p>بشس&nbsp;</p>
<p>ب&nbsp;</p>
<p>شسیب</p>
<p>&nbsp;شسیبسشیبشسیبشس بشسیب شسیبشسیب سینمب تسمبتیم</p>
<p>شس بشسی تبستیب تمسینبتس مس</p>
<p>ش ل مینتسمبن</p>', N'یبیلب', CAST(N'2017-01-09 03:08:33.463' AS DateTime), 1014)
SET IDENTITY_INSERT [dbo].[product] OFF
SET IDENTITY_INSERT [dbo].[product_labels] ON 

INSERT [dbo].[product_labels] ([id], [product_id], [label_id]) VALUES (2050, 2003, 1007)
INSERT [dbo].[product_labels] ([id], [product_id], [label_id]) VALUES (2051, 2003, 1012)
INSERT [dbo].[product_labels] ([id], [product_id], [label_id]) VALUES (2052, 2003, 1011)
SET IDENTITY_INSERT [dbo].[product_labels] OFF
SET IDENTITY_INSERT [dbo].[product_medias] ON 

INSERT [dbo].[product_medias] ([id], [product_id], [media_id], [view_order]) VALUES (1057, 2, 1016, 0)
INSERT [dbo].[product_medias] ([id], [product_id], [media_id], [view_order]) VALUES (1061, 2008, 1018, 0)
INSERT [dbo].[product_medias] ([id], [product_id], [media_id], [view_order]) VALUES (1062, 2008, 2022, 1)
SET IDENTITY_INSERT [dbo].[product_medias] OFF
SET IDENTITY_INSERT [dbo].[purchase] ON 

INSERT [dbo].[purchase] ([id], [product_id], [customer_name], [customer_phone], [customer_email], [customer_address], [description], [idate]) VALUES (1, 2008, N'امید خوش نیت', N'09124946108', NULL, N'تهران - کوچه اول', NULL, CAST(N'2017-02-14 10:13:23.460' AS DateTime))
SET IDENTITY_INSERT [dbo].[purchase] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_label_keycode]    Script Date: 26/11/1395 11:27:25 ق.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_label_keycode] ON [dbo].[label]
(
	[keycode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[banner]  WITH CHECK ADD  CONSTRAINT [FK_banner_media] FOREIGN KEY([first_media_id])
REFERENCES [dbo].[media] ([id])
GO
ALTER TABLE [dbo].[banner] CHECK CONSTRAINT [FK_banner_media]
GO
ALTER TABLE [dbo].[banner]  WITH NOCHECK ADD  CONSTRAINT [FK_banner_media_second] FOREIGN KEY([second_media_id])
REFERENCES [dbo].[media] ([id])
GO
ALTER TABLE [dbo].[banner] CHECK CONSTRAINT [FK_banner_media_second]
GO
ALTER TABLE [dbo].[banner]  WITH CHECK ADD  CONSTRAINT [FK_banner_media_third] FOREIGN KEY([third_media_id])
REFERENCES [dbo].[media] ([id])
GO
ALTER TABLE [dbo].[banner] CHECK CONSTRAINT [FK_banner_media_third]
GO
ALTER TABLE [dbo].[banner]  WITH CHECK ADD  CONSTRAINT [FK_banner_page] FOREIGN KEY([page_id])
REFERENCES [dbo].[page] ([id])
GO
ALTER TABLE [dbo].[banner] CHECK CONSTRAINT [FK_banner_page]
GO
ALTER TABLE [dbo].[collection]  WITH CHECK ADD  CONSTRAINT [FK_collection_media] FOREIGN KEY([header_media_id])
REFERENCES [dbo].[media] ([id])
GO
ALTER TABLE [dbo].[collection] CHECK CONSTRAINT [FK_collection_media]
GO
ALTER TABLE [dbo].[collection_products]  WITH CHECK ADD  CONSTRAINT [FK_collection_products_collection] FOREIGN KEY([collection_id])
REFERENCES [dbo].[collection] ([id])
GO
ALTER TABLE [dbo].[collection_products] CHECK CONSTRAINT [FK_collection_products_collection]
GO
ALTER TABLE [dbo].[collection_products]  WITH CHECK ADD  CONSTRAINT [FK_collection_products_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[collection_products] CHECK CONSTRAINT [FK_collection_products_product]
GO
ALTER TABLE [dbo].[media_files]  WITH CHECK ADD  CONSTRAINT [FK_media_files_file] FOREIGN KEY([file_id])
REFERENCES [dbo].[file] ([id])
GO
ALTER TABLE [dbo].[media_files] CHECK CONSTRAINT [FK_media_files_file]
GO
ALTER TABLE [dbo].[media_files]  WITH CHECK ADD  CONSTRAINT [FK_media_files_media] FOREIGN KEY([media_id])
REFERENCES [dbo].[media] ([id])
GO
ALTER TABLE [dbo].[media_files] CHECK CONSTRAINT [FK_media_files_media]
GO
ALTER TABLE [dbo].[menu]  WITH CHECK ADD  CONSTRAINT [FK_menu_media] FOREIGN KEY([media_id])
REFERENCES [dbo].[media] ([id])
GO
ALTER TABLE [dbo].[menu] CHECK CONSTRAINT [FK_menu_media]
GO
ALTER TABLE [dbo].[menu]  WITH CHECK ADD  CONSTRAINT [FK_menu_menu] FOREIGN KEY([parent_id])
REFERENCES [dbo].[menu] ([id])
GO
ALTER TABLE [dbo].[menu] CHECK CONSTRAINT [FK_menu_menu]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_media] FOREIGN KEY([cover_media_id])
REFERENCES [dbo].[media] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_media]
GO
ALTER TABLE [dbo].[product_labels]  WITH CHECK ADD  CONSTRAINT [FK_product_label_values_label] FOREIGN KEY([label_id])
REFERENCES [dbo].[label] ([id])
GO
ALTER TABLE [dbo].[product_labels] CHECK CONSTRAINT [FK_product_label_values_label]
GO
ALTER TABLE [dbo].[product_labels]  WITH CHECK ADD  CONSTRAINT [FK_product_label_values_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[product_labels] CHECK CONSTRAINT [FK_product_label_values_product]
GO
ALTER TABLE [dbo].[product_medias]  WITH CHECK ADD  CONSTRAINT [FK_product_medias_media] FOREIGN KEY([media_id])
REFERENCES [dbo].[media] ([id])
GO
ALTER TABLE [dbo].[product_medias] CHECK CONSTRAINT [FK_product_medias_media]
GO
ALTER TABLE [dbo].[product_medias]  WITH CHECK ADD  CONSTRAINT [FK_product_medias_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[product_medias] CHECK CONSTRAINT [FK_product_medias_product]
GO
ALTER TABLE [dbo].[purchase]  WITH CHECK ADD  CONSTRAINT [FK_purchase_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[purchase] CHECK CONSTRAINT [FK_purchase_product]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Main Menus, 2: Links, 3: Social Networks' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'menu', @level2type=N'COLUMN',@level2name=N'menu_type'
GO
USE [master]
GO
