<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <!--<rule name="Silex Front Controller" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                      <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
                      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" negate="true" />
                      <add input="{REQUEST_FILENAME}" matchType="Pattern" pattern="^(.*).html$" ignoreCase="true" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" appendQueryString="true" />
                </rule>-->
                <!--<rule name="Prevent image hotlinking">  
                    <match url=".*\.(gif|jpg|png)$"/>  
                    <conditions>  
                        <add input="{HTTP_REFERER}" pattern="^$" negate="true" />  
                        <add input="{HTTP_REFERER}" pattern="^http://192.168.1.6:1128/.*$" negate="true" />  
                    </conditions>  
                    <action type="Rewrite" url="/images/say_no_to_hotlinking.jpg" />  
                </rule>  -->
            </rules>
        </rewrite>
    </system.webServer>
</configuration>